.body {
    background-color:#f6f5f5;
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

section {
    width: 100%;
    height: 95vh;
    background-image: url(./bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
    padding: 0px 5%;
}

nav ul {
    display: flex;
}

nav ul li a {
    margin: 30px;
    font-family: calibri;
    color: #505050;
    font-size: 15px;
    font-weight: 700;
}

.logo {
    font-family: calibri;
    color: #000000;
    font-size: 22px;
}

.active {
    font-weight: bold;
    color: #2d2a2a;
}

.heading-text p:nth-child(1){
    font-family: calibri;
    font-weight: bold;
    color: #6d6d6d;
    font-size: 22px;
}

.heading-text p:nth-child(2){
    font-family: calibri;
    font-weight: bold;
    letter-spacing: 1px;
    color: #1a1a1a;
    font-size: 60px;
}

.heading-text p:nth-child(3){
    font-family: myriad pro regular;
    color: #403e3e;
    font-size: 30px;
    line-height: 30px;
}
.heading-text p:nth-child(4){
    font-family: myriad pro regular;
    color: #403e3e;
    font-size: 25px
}

.heading-text p {
    line-height: 0px;
    margin: 45px 0px 25px;
}

.heading-text {
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%,-42%);
}

.imageModel {
    height: 560px;
    position: absolute;
    bottom: 0px;
    left: 80%;
    transform: translateX(-70%);
}

.about-section {
    width: 80%;
    height: 330px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgb(0, 0, 0, 0.2);
    display: flex;
    margin: -7% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}

.about-info {
    width: 100%;
    margin: 10px
}

.about-info p:nth-child(1){
    color: #403e3e;
    font-family: calibri;
    font-weight: bold;
    font-size: 30px;
    line-height: 0px;
}

.about-info p:nth-child(2){
    color: #3e3d3d;
    font-size: 20px;
    font-family: calibri;
    font-weight: bold;
    line-height: 5px;
}

.about-info p:nth-child(3){
    color: #7e7d7d;
    font-size: 17px;
    font-family: calibri;
}

.skills-section {
    color: #FFFFFF;
    height: 400px;
    box-shadow: 2px 2px 12px rgb(0, 0, 0, 0.2);
    display: flex;
    position: relative;
    border-radius: 10px;
    margin: 10px;
}

.skills-list {
    width: 100%;
    margin: 30px;
    display: inline-block;
}

.skills-list p:nth-child(1){
    color: #403e3e;
    font-family: calibri;
    font-weight: bold;
    font-size: 30px;
    line-height: 0px;
}

.skills-list p:nth-child(2){
    color: #3e3d3d;
    font-family: calibri;
    font-weight: bold;
    font-size: 20px;
    line-height: 0px;
}

.skills-list p:nth-child(3){
    color: #3e3d3d;
    font-family: calibri;
    font-weight: bold;
    font-size: 20px;
    line-height: 0px;
}

.progress{
    margin-right: 30px;
    background-color: rgb(134, 211, 134);
    text-align: center;
    width: 82%;
    border-radius: 10px;
    color: #3e3d3d;
    font-size: 16px;
    font-weight: bold;
    font-family: calibri;
}

.progressMaster {
    margin-right: 30px;
    background-color: rgb(231, 222, 222);
    width: 100%;
    border-radius: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
th {
    display: none;
}

th, td {
    text-align: left;
    padding: 8px;
    font-size: 18px;
    font-family: calibri;
}
