.body {
    background-color:#f6f5f5;
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

section {
    width: 100%;
    height: 95vh;
    background-image: url(./bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
    padding: 0px 5%;
}

nav ul {
    display: flex;
}

nav ul li a {
    margin: 30px;
    font-family: calibri;
    color: #505050;
    font-size: 15px;
    font-weight: 700;
}

.logo {
    font-family: calibri;
    color: #000000;
    font-size: 22px;
}

.active {
    font-weight: bold;
    color: #2d2a2a;
}

.heading-text p:nth-child(1){
    font-family: calibri;
    font-weight: bold;
    color: #6d6d6d;
    font-size: 22px;
}

.heading-text p:nth-child(2){
    font-family: calibri;
    font-weight: bold;
    letter-spacing: 1px;
    color: #1a1a1a;
    font-size: 60px;
}

.heading-text p:nth-child(3){
    font-family: myriad pro regular;
    color: #403e3e;
    font-size: 30px;
    line-height: 30px;
}
.heading-text p:nth-child(4){
    font-family: myriad pro regular;
    color: #403e3e;
    font-size: 25px
}

.heading-text p {
    line-height: 0px;
    margin: 45px 0px 25px;
}

.heading-text {
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%,-42%);
}

.imageModel {
    height: 560px;
    position: absolute;
    bottom: 0px;
    left: 80%;
    transform: translateX(-70%);
}

.about-section {
    width: 80%;
    height: 330px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgb(0, 0, 0, 0.2);
    display: flex;
    margin: -7% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}

.about-info {
    width: 100%;
    margin: 10px
}

.about-info p:nth-child(1){
    color: #403e3e;
    font-family: calibri;
    font-weight: bold;
    font-size: 30px;
    line-height: 0px;
}

.about-info p:nth-child(2){
    color: #3e3d3d;
    font-size: 20px;
    font-family: calibri;
    font-weight: bold;
    line-height: 5px;
}

.about-info p:nth-child(3){
    color: #7e7d7d;
    font-size: 17px;
    font-family: calibri;
}

.skills-section {
    color: #FFFFFF;
    height: 400px;
    box-shadow: 2px 2px 12px rgb(0, 0, 0, 0.2);
    display: flex;
    position: relative;
    border-radius: 10px;
    margin: 10px;
}

.skills-list {
    width: 100%;
    margin: 30px;
    display: inline-block;
}

.skills-list p:nth-child(1){
    color: #403e3e;
    font-family: calibri;
    font-weight: bold;
    font-size: 30px;
    line-height: 0px;
}

.skills-list p:nth-child(2){
    color: #3e3d3d;
    font-family: calibri;
    font-weight: bold;
    font-size: 20px;
    line-height: 0px;
}

.skills-list p:nth-child(3){
    color: #3e3d3d;
    font-family: calibri;
    font-weight: bold;
    font-size: 20px;
    line-height: 0px;
}

.progress{
    margin-right: 30px;
    background-color: rgb(134, 211, 134);
    text-align: center;
    width: 82%;
    border-radius: 10px;
    color: #3e3d3d;
    font-size: 16px;
    font-weight: bold;
    font-family: calibri;
}

.progressMaster {
    margin-right: 30px;
    background-color: rgb(231, 222, 222);
    width: 100%;
    border-radius: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
th {
    display: none;
}

th, td {
    text-align: left;
    padding: 8px;
    font-size: 18px;
    font-family: calibri;
}

.work-section {
    color: #FFFFFF;
    /* height: 450px; */
    box-shadow: 2px 2px 12px rgb(0, 0, 0, 0.2);
    display: flex;
    position: relative;
    border-radius: 10px;
    margin: 10px;
}

.timeline {
    margin: 0 auto;
    max-width: 100%;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #3e3d3d;
    font-size: 16px;
}

.timeline_component {
    margin: 0px 20px 20px 20px;
}

.right{
    text-align: right;
    font-weight: bold;
    font-size: 18px;
}

.timeline_bar {
    position: relative;
    background-color: #000000;
}

.timeline_circle {
    position: absolute;
    background-color: #000000;
    top: 0px;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transform: translateX(-50%);
}

.text {
    padding: 1.5rem;
    background-color: rgb(231, 222, 222);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.timeline-header {
    margin: 0;
    font-size: 1.15em;
    font-weight: bold;
}

.timeline-description {
    line-height: 1.5;
}

.left {
    text-align: left;
    font-weight: bold;
    font-size: 18px;
}

.bottom {
    top: initial;
    bottom: 0;
}

.work-heading p{
    color: #403e3e;
    font-family: calibri;
    font-weight: bold;
    font-size: 30px;
    line-height: 0px;
    padding-top: 30px;
    padding-left: 30px;
}

.education-section {
    color: #FFFFFF;
    /* height: 450px; */
    box-shadow: 2px 2px 12px rgb(0, 0, 0, 0.2);
    display: flex;
    position: relative;
    border-radius: 10px;
    margin: 10px;
}

.education-heading p{
    color: #403e3e;
    font-family: calibri;
    font-weight: bold;
    font-size: 30px;
    line-height: 0px;
    padding-top: 30px;
    padding-left: 30px;
}

.container{
    width: 1200px;
    margin: auto;
}
  
.timelineh{
    counter-reset: year 2016;
    position: relative;
    display: flex;
}
  
.timelineh li{
    list-style: none;
    float: left;
    width: 33.3333%;
    position: relative;
    text-align: center;
    text-transform: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #3e3d3d;
}
  
.timelineh ul:nth-child(1){
    color: #4caf50;
}
  
.timelineh li:before{
    content: attr(year);
    width: 100px;
    height: 50px;
    border: 3px solid #4caf50;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 50px;
    margin: 0 auto 10px auto;
    background: #F1F1F1;
    color: #000;
    transition: all ease-in-out .3s;
    cursor: pointer;
}
  
.timelineh li:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: grey;
    top: 25px;
    left: -50%;
    z-index: -999;
    transition: all ease-in-out .3s;
}
  
.timelineh li:first-child:after{
    content: none;
}
.timelineh li.active{
    color: #555555;
}
.timelineh li.active:before{
    background: #4caf50;
    color: #F1F1F1;
}
  
.timelineh li.active + li:after{
    background: #4caf50;
}

.text-education {
    font-weight: 500;
    color: #3e3d3d;
    justify-content: space-between;
    font-size: 16px;
}

.text-education p{
    padding: 10px;
}

.contact-section {
    padding: 20px;
    align-items: center;
    text-align: center;
}

.contact-section p{
    font-weight: bold;
    font-size: 30px;
    font-family: calibri;
}

.normal-icons{
    display: inline-block;
}

.normal-icons img{
    width: 30px;
    height: 30px;
}

.normal-icon-text {
    display: inline-block;
    position: relative;
    bottom: 10;
    padding: 10px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.normal-icon-text a{
    text-decoration: none;
    color: #000000;
}

.social-media-icons {
    padding-top: 20px;
}
.social-media-icons img{
    width: 40px;
    height: 40px;
    margin: 20px;
}

.cv-button{
    text-align: center;
    background-color: #1a1a1a;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 2px 2px 12px rgb(0, 0, 0, 0.2);
}